.cycle-status-bar-titai-img {
  width: 150px;
}

.cycle-status-bar-enerty {
  flex: 1;
  margin: 0 12px;
}

.yjj-cycle-status-bar-enerty {
  flex: 1;
  margin: 0 12px 0 0;
}

.yjj-cycle-status-bar-enerty .ant-progress-text {
  display: none;
}

.yjj-cycle-status-bar-enerty .ant-progress-steps-item {
  height: 20px !important;
  width: 20px !important;
  border-radius: 100%;
  margin-right: 8px;
  border: 2px solid hsl(46 60% 50% / 1);
}

.cycle-status-bar-enerty-wrap {
  /* display: flex; */
  /* height: 36px; */
  align-items: center;
}

.cycle-status-bar-enerty-item {
  display: flex;
  align-items: center;
  width: 150px;
}
